/wp-content/plugins/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentytwentyone/
/wp-content/themes/twentytwentytwo/
/wp-content/uploads/
_regru_cmslogin_redirect_DO5gZO5oRW5.php
wp-config.php
