.about_h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	margin: 30px 0;
}

.about_examples {
	background-color: $c_menu_bg;
	color: #fff;
	margin: 0 -27px;
	padding: 40px 63px 15px;

	.wp-block-group {
		&__inner-container {
			h2 {
				color: #fff;
				font-size: 32px;
				font-weight: 600;
				padding: 0 0 0 80px;

				@media #{$tablet} {
					font-size: 22px;
					padding: 0;
				}
			}
		}
	}
}

.about_list {
	background: url(#{$i}/about_list_bg.png) center no-repeat scroll transparent;
	background-size: cover;

	h3 {
		color: $c_text;
		font-family: $font_montserrat;
		font-size: 20px;
		font-weight: 600;
		margin: 20px 0 25px;
	}

	> .wp-block-group__inner-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 30px;
		margin: 0 auto;
		max-width: 1182px;
		padding: 15px 0;
		width: 100%;

		> .wp-block-group {
			max-width: 510px;
			padding: 0 0 16px 20px;
			width: 100%;
		}

		@media #{$tablet} {
			grid-template-columns: 100%;
			padding: 15px 30px;
		}
	}
}

.about_objects_desc {
	background: #fff;
	bottom: 0;
	color: $c_menu_bg;
	font-size: 15px;
	font-weight: 600;
	left: 0;
	min-height: 150px;
	padding: 10px 20px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 5;
}

.about_quote {
	> .wp-block-group__inner-container {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media #{$desktop_hd} {
			align-items: center;
			flex-direction: column;
			padding: 0 100px;
		}

		@media #{$mobile} {
			align-items: flex-start;
			padding: 0 30px;
		}
	}
}

.about_quote_desc {
	max-width: 850px;
	padding: 0 0 40px 78px;

	blockquote {
		line-height: 1.74;
		padding: 0 40px 0 53px;

		@media #{$tablet} {
			padding: 40px 0;
		}
	}

	@media #{$tablet} {
		padding: 0 0 30px;
	}
}

.about_quote_img {
	&.wp-block-image {
		margin: 0 -8px 0 0;
		position: relative;

		&::before {
			border: 18px solid $c_main;
			content: "";
			display: none;
			height: 457px;
			left: -53px;
			position: absolute;
			top: 118px;
			width: 477px;
			z-index: 1;

			@media #{$mobile} {
				display: none;
			}
		}

		img {
			display: block;
			position: relative;
			z-index: 3;
		}

		@media #{$desktop_hd} {
			margin: 20px 0 0;
		}

		@media #{$mobile} {
			margin: -160px 0 0 -110px;
		}
	}
}

.about_quote_sign {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.9;
	margin: 23px 0 0;
	text-align: right;

	@media #{$tablet} {
		padding: 0;
	}

	@media #{$mobile} {
		float: right;
		font-size: 12px;
		max-width: 150px;
	}
}