.about_h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.4;
	margin: 30px 0;
}

.about_list {
	background: url(#{$i}/about_list_bg.png) center no-repeat scroll transparent;
	background-size: cover;

	h3 {
		color: $c_text;
		font-family: $font_montserrat;
		font-size: 20px;
		font-weight: 600;
		margin: 20px 0 25px;
	}

	> .wp-block-group__inner-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 30px;
		margin: 0 auto;
		max-width: 1182px;
		padding: 15px 0;
		width: 100%;

		> .wp-block-group {
			max-width: 510px;
			padding: 0 0 16px 20px;
			width: 100%;
		}

		@media #{$tablet} {
			grid-template-columns: 100%;
			padding: 15px 30px;
		}
	}
}

.about_quote {
	margin: 0 0 44px;

	> .wp-block-group__inner-container {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media #{$desktop_hd} {
			align-items: center;
			flex-direction: column;
			padding: 0 100px;
		}

		@media #{$mobile} {
			align-items: flex-start;
			padding: 0 30px;
		}
	}
}

.about_quote_desc {
	max-width: 850px;
	padding: 0 0 0 78px;

	blockquote {
		line-height: 1.74;
		padding: 0 0 0 53px;
	}
}

.about_quote_img {
	&.wp-block-image {
		img {
			display: block;
		}

		@media #{$desktop_hd} {
			margin: 20px 0 0;
		}

		@media #{$mobile} {
			margin: -160px 0 0 -110px;
		}
	}
}

.about_quote_sign {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.9;
	margin: 23px 0 0;
	text-align: right;

	@media #{$tablet} {
		padding: 0;
	}

	@media #{$mobile} {
		float: right;
		font-size: 12px;
		max-width: 150px;
	}
}