
.btn {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition;
}

.btn_close {
	height: 50px;
	width: 50px;

	&:hover {
		&::after,
		&::before {
			height: 3px;
		}
	}

	&::after,
	&::before {
		background-color: $c_main;
		content: "";
		height: 1px;
		left: 4px;
		position: absolute;
		top: 22px;
		transition: $transition;
		width: 40px;
	}

	&::after {
		transform: rotate(45deg);
	}

	&::before {
		transform: rotate(-45deg);
	}
}

.btn_more {
	border: 1px solid $c_main;
	color: #fff;
	letter-spacing: .03em;
	padding: .8em 3.8em;

	&:hover {
		background-color: $c_main;
	}
}

.btn_submit {
	background: none;
	border: 1px solid $c_main;
	color: #fff;
	font-family: $font_main;
	letter-spacing: .08em;
	padding: 14px 54px 12px;

	&:hover {
		background-color: $c_main;
		color: #000;
	}
}
