
body {
	background-color: #fff;
	font-size: 14px;
	font-family: $font_main;
	font-weight: 500;
}



.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition;
}

.btn_close {
	height: 50px;
	width: 50px;

	&:hover {
		&::after,
		&::before {
			height: 3px;
		}
	}

	&::after,
	&::before {
		background-color: $c_main;
		content: "";
		height: 1px;
		left: 4px;
		position: absolute;
		top: 22px;
		transition: $transition;
		width: 40px;
	}

	&::after {
		transform: rotate(45deg);
	}

	&::before {
		transform: rotate(-45deg);
	}
}

.btn_more {
	border: 1px solid $c_main;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .03em;
	padding: .8em 3.8em;

	&:hover {
		background-color: $c_main;
	}
}

.copyright {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	opacity: .5;
}

.logo {
	background-size: contain;
	background: url(#{$i}/logo.svg) center no-repeat scroll transparent;
	display: inline-block;
	height: 51px;
	margin: 0 30px 0 0;
	position: relative;
	width: 143px;

	&::after,
	&::before {
		background-color: $c_main;
		content: "";
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
		visibility: hidden;
		z-index: -1;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	&:hover {
		&::after,
		&::before {
			opacity: .5;
			visibility: visible;
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}
}

.powered_by {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	opacity: .5;
	text-decoration: none;
	transition: $transition;

	&:hover {
		opacity: 1;
	}

	img {
		display: block;
		margin: 12px 0 0;
		width: 92px;
	}
}

.wrap {
	margin: 0 auto;
	max-width: 1373px;
	padding: 0 30px;
	width: 100%;
}
