
body {
	background-color: #444;
	font-size: 14px;
	font-family: $font_main;
	font-weight: 500;
}

.hero_block {
	position: relative;

	&__footer {
		bottom: 50px;
		color: #fff;
		font-size: 10px;
		left: 0;
		opacity: .5;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	&__slider {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;

		.splide {
			height: 100%;
			max-width: 1000px;
			width: 100%;

			&__arrow {
				background: none;
				border-radius: 0;
				height: 100%;

				&::after,
				&::before {
					content: "";
					position: absolute;
				}

				&::after {
					background-color: $c_main;
					height: 2px;
					width: 500px;
				}

				&::before {
					border-left: 2px solid $c_main;
					border-top: 2px solid $c_main;
					height: 25px;
					width: 25px;
				}

				svg {
					display: none;
				}

				&--next {
					left: 100%;
					right: auto;

					&::after {
						left: 100%;
						margin: 0 0 0 12px;
					}

					&::before {
						transform: rotate(135deg);
					}
				}

				&--prev {
					left: auto;
					right: 100%;

					&::after {
						margin: 0 12px 0 0;
						right: 100%;
					}

					&::before {
						transform: rotate(-45deg);
					}
				}
			}

			&__pagination {
				bottom: 0;
				width: 100%;

				li {
					align-items: flex-end;
					display: flex;
					height: 28px;
				}

				&__page {
					background: none;
					border-radius: 0;
					height: 16px;
					margin: 0;
					position: relative;
					width: 8px;

					&::after {
						background-color: $c_main;
						bottom: 0;
						content: "";
						height: 13px;
						left: 50%;
						position: absolute;
						transition: $transition;
						width: 2px;
					}

					&:hover,
					&.is-active {
						background: none;
						transform: none;

						&::after {
							height: 28px;
						}
					}
				}
			}

			&__track {
				height: 100%;
			}
		}
	}
}

.home {
	.hero_block {
		background: url(#{$i}/home_bg.png) center no-repeat scroll transparent;
		background-size: cover;
		min-height: 100vh;
	}
}

.logo {
	background-size: contain;
	background: url(#{$i}/logo.svg) center no-repeat scroll transparent;
	display: inline-block;
	height: 51px;
	position: relative;
	width: 143px;

	&::after,
	&::before {
		background-color: $c_main;
		content: "";
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
		z-index: -1;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	&:hover {
		&::after,
		&::before {
			opacity: .5;
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}
}
