
body {
	background-color: #444;
	font-size: 14px;
	font-family: $font_main;
	font-weight: 500;
}



.btn {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition;
}

.btn_more {
	border: 1px solid $c_main;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .03em;
	padding: .8em 3.8em;

	&:hover {
		background-color: $c_main;
	}
}

.logo {
	background-size: contain;
	background: url(#{$i}/logo.svg) center no-repeat scroll transparent;
	display: inline-block;
	height: 51px;
	position: relative;
	width: 143px;

	&::after,
	&::before {
		background-color: $c_main;
		content: "";
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
		visibility: hidden;
		z-index: -1;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	&:hover {
		&::after,
		&::before {
			opacity: .5;
			visibility: visible;
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}
}
