
.hero_block {
	border: 27px solid #fff;
	position: relative;

	&__footer {
		bottom: 50px;
		color: #fff;
		font-size: 10px;
		left: 0;
		opacity: .5;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	&__slider {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;

		.splide {
			height: 100%;
			width: 100%;

			&__arrow {
				background: none;
				border-radius: 0;
				height: 100%;
				width: 600px;

				&::after,
				&::before {
					content: "";
					position: absolute;
					top: 48%;
				}

				&::after {
					background-color: $c_main;
					height: 2px;
					margin: 4px 0 0;
					width: 500px;
				}

				&::before {
					border-left: 2px solid $c_main;
					border-top: 2px solid $c_main;
					height: 20px;
					margin: -4px 0 0;
					width: 20px;
				}

				svg {
					display: none;
				}

				&--next {
					left: 50%;
					margin: 0 0 0 600px;
					right: auto;

					&::after {
						left: 41px;
					}

					&::before {
						left: 7px;
						transform: rotate(135deg);
					}
				}

				&--prev {
					left: auto;
					margin: 0 600px 0 0;
					right: 50%;

					&::after {
						right: 41px;
					}

					&::before {
						right: 7px;
						transform: rotate(-45deg);
					}
				}
			}

			&__pagination {
				bottom: 34px;
				justify-content: flex-start;
				left: 50%;
				max-width: 1178px;
				padding: 0;
				transform: translateX(-50%);
				width: 100%;

				li {
					align-items: flex-end;
					display: flex;
					height: 28px;
				}

				&__page {
					background: none;
					border-radius: 0;
					height: 16px;
					margin: 0;
					position: relative;
					width: 9px;

					&::after {
						background-color: $c_main;
						bottom: 0;
						content: "";
						height: 13px;
						left: 50%;
						position: absolute;
						transition: $transition;
						width: 2px;
					}

					&:hover,
					&.is-active {
						background: none;
						transform: none;

						&::after {
							height: 28px;
						}
					}
				}
			}

			&__slide {
				align-items: center;
				display: flex;
				height: 100%;
			}

			&__track {
				height: 100%;
			}
		}
	}
}

.hero_block_slide {
	margin: 0 auto;
	max-width: 1178px;
	padding: 108px 0 0;
	position: relative;
	width: 100%;

	&__address {
		background: url(#{$icons}/map.svg) left center no-repeat scroll transparent;
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		margin: 1em 0;
		min-height: 26px;
		padding: 0 0 0 36px;
	}

	&__developer {
		bottom: 10px;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		position: absolute;
		right: 0;
		text-transform: uppercase;

		&::after {
			background-color: $c_main;
			content: "";
			height: 1px;
			left: 0;
			margin: 10px 0 0;
			position: absolute;
			top: 100%;
			width: 100%;
		}
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 247px;
		margin: -52px 0 0;
		position: absolute;
		right: -45px;
		top: 50%;
		transform: translateY(-50%);
		width: 247px;

		img {
			position: relative;
			z-index: 3;
		}

		&::after {
			background-color: $c_img_bg;
			content: "";
			height: 100%;
			left: 22px;
			position: absolute;
			top: 22px;
			width: 100%;
			z-index: 1;
		}
	}

	&__more {
		margin: 34px 0 0;
	}

	&__title {
		color: $c_main;
		font-family: $font_arsenica;
		font-size: 96px;
		letter-spacing: -.04em;
		line-height: 115px;
		max-width: 74%;
	}
}
