
.home {
	&.header_menu_active {
		.header_menu_wrap {
			background-color: $c_menu_bg;
			display: flex;
		}
	}

	.header_menu {
		flex-direction: row;
		font-size: 11px;
		margin: 0;
		padding: 0;

		a,
		a:visited {
			&:hover {
				&::after {
					width: 100%;
				}
			}

			&::after {
				height: 1px;
				left: 0;
				margin: 4px 0 0;
				top: 100%;
			}
		}

		li {
			padding: 0 20px;

			&.current-menu-item {
				a,
				a:visited {
					&::after {
						width: 100%;
					}
				}
			}
		}

		@media #{$desktop_hd} {
			flex-direction: column;
			padding: 80px 0;
		}
	}

	.header_menu_toggle {
		display: none;

		@media #{$desktop_hd} {
			display: block;
		}
	}

	.header_menu_wrap {
		display: block;
		height: auto;
		left: auto;
		padding: 0 0 6px;
		position: relative;
		top: auto;
		width: auto;

		@media #{$desktop_hd} {
			align-items: center;
			display: none;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			left: 0;
			padding: 50px 0 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 9;
		}
	}

	.hero_block {
		background: url(#{$i}/home_bg.png) center no-repeat scroll $c_img_bg;
		background-size: cover;
		height: 100%;
		width: 100%;
	}

	.hero_block_wrap {
		display: flex;
		height: 100vh;
		min-height: 650px;

		@media #{$mobile} {
			height: auto;
			min-height: 450px;
		}
	}

	.site-main {
		display: none;
	}
}
