.look_form {
	h2 {
		color: $c_text;
		font-family: $font_montserrat;
		font-size: 48px;
		font-weight: 600;

		@media #{$tablet} {
			font-size: 30px;
		}
	}

	h3 {
		color: $c_text;
		font-family: $font_montserrat;
		font-size: 18px;
		font-weight: 500;
		margin: 25px 0;
		max-width: 700px;
	}

	input {
		background: transparent;
		border-bottom: 1px solid $c_text;
		width: 100%;
	}

	&__agree {
		margin: 15px 0 0;
		text-transform: none;

		a {
			color: $c_text;
		}
	}

	.btn_submit {
		color: $c_text;
		letter-spacing: .03em;
		margin: 40px 0 0;
		max-width: none;
		white-space: nowrap;

		&__title {
			max-width: none;
		}

		@media #{$tablet} {
			white-space: normal;
		}
	}

	.contacts_consult_list {
		&__item {
			max-width: 430px;
		}
	}

	.contacts_form {
		&__label {
			margin: 20px 0 0;
			width: 100%;
		}

		&__label_title {
			color: rgba($c_text, .8);
			top: -5px;
		}
	}

	.wpcf7-form-control-wrap {
		width: 100%;
	}

	.wpcf7-list-item {
		margin: 0;
	}
}