.new_building {
	&__presentation {
		background: url(#{$icons}/download.svg) 0 0 no-repeat scroll transparent;
		background-size: cover;
		height: 35px;
		width: 27px;
	}
}

.new_building_list {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(4, 1fr);
	padding: 54px 0 24px;

	&__desc {
		background-color: #fff;
		bottom: -100px;
		color: $c_text;
		font-size: 15px;
		left: 0;
		opacity: 0;
		padding: 20px 25px;
		position: absolute;
		transition: $transition;
		width: 100%;
		z-index: 5;
	}

	&__img {
		background-color: #fff;
		display: block;
		height: 237px;
		width: 100%;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&__item {
		display: flex;
		filter: drop-shadow(0 2px 2px rgba(#000, .15));
		flex-direction: column;
		margin: 0 0 24px;
		overflow: hidden;
		position: relative;

		&:hover {
			.new_building_list {
				&__desc {
					bottom: 0;
					opacity: 1;
				}

				&__img {
					opacity: .5;
				}
			}
		}
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__logo {
		align-items: center;
		background-color: #fff;
		display: flex;
		justify-content: center;
		min-height: 103px;
	}

	.owl-dot {
		align-items: flex-end;
		display: flex;
		height: 28px;
		padding: 0 4px !important;

		&.active {
			&::after {
				height: 100%;
			}
		}

		&::after {
			background-color: $c_main;
			content: "";
			height: 13px;
			display: block;
			transition: $transition;
			width: 2px;
		}
	}

	.owl-dots {
		bottom: 24px;
		display: flex;
		justify-content: center;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 3;
	}

	.owl-item {
		padding: 2px;

		.new_building_list {
			&__logo {
				img {
					width: auto;
				}
			}
		}
	}

	.owl-nav {
		display: flex;
		justify-content: center;
		margin: 50px 0 0;
		position: relative;
	}

	.owl-next,
	.owl-prev {
		background: none;
		bottom: auto;
		color: $c_main;
		font-size: 14px;
		height: auto;
		left: auto;
		margin: 0;
		position: relative;
		right: auto;
		top: auto;
		width: auto;

		&::after {
			display: none;
		}

		&::before {
			height: 12px;
			margin: -5px 0 0;
			width: 12px;
		}

		&:hover {
			&::before {
				border-left-width: 3px;
				border-top-width: 3px;
			}
		}
	}

	.owl-next {
		margin: 0 0 0 80px;
		padding: 0 30px 0 0 !important;

		&::before {
			left: auto;
			right: 0;
		}
	}

	.owl-prev {
		margin: 0 80px 0 0;
		padding: 0 0 0 30px !important;

		&::before {
			left: 0;
			right: auto;
		}
	}
}

.new_building_links {
	display: flex;
	justify-content: center;
	margin: 50px 0 30px;
	width: 100%;

	&__item {
		margin: 0 16px;
	}
}

.new_buildings_quote {
	background-color: $c_menu_bg;
	color: #fff;
	margin: 0 0 -30px;
	position: relative;

	blockquote {
		max-width: 770px;
		padding: 0 10px 0 33px;

		&::after {
			bottom: 10px;
		}

		@media #{$desktop} {
			padding: 0 60px;

			&::after {
				right: 5px;
			}

			&::before {
				left: 5px;
			}
		}
	}

	h2 {
		color: #fff;
		font-family: $font_montserrat;
		font-size: 32px;
		font-weight: 600;
		line-height: 1.7;
		padding: 30px 0 5px 32px;

		@media #{$desktop_hd} {
			padding: 30px 0 5px;
			text-align: center;
		}

		@media #{$tablet} {
			font-size: 25px;
		}

		@media #{$mobile} {
			font-size: 18px;
		}
	}

	> .wp-block-group__inner-container {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1356px;

		@media #{$desktop_hd} {
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}

	&__sign {
		color: $c_quote_sign;
		font-size: 15px;
		font-weight: 700;
		line-height: 1.7;
		padding: 10px 28px 0 0;
		text-align: right;
	}

	.wp-block-image {
		margin: -57px 0 0;

		a {
			display: block;
			width: 425px;

			img {
				display: block;
				width: 100%;
			}

			@media #{$tablet} {
				max-width: 425px;
				width: 100%;
			}
		}

		@media #{$tablet} {
			margin: 30px 0 0;
		}
	}
}

.new_buildings_quote_wrap {
	padding: 0 0 72px 68px;

	@media #{$desktop_hd} {
		padding: 0;
	}
}