
.pew-filter-block {
	margin: -72px 0 60px;
	position: relative;
	z-index: 2;

	.chosen-container {
		.chosen-results {
			li {
				background: transparent;
				color: $c_text;
				line-height: 30px;
				padding: 0 10px;

				&.active-result {
					&:hover,
					&.result-selected {
						background-color: $c_text;
						color: #fff;
					}
				}

				&.disabled-result {
					opacity: .5;
				}
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			background: none;
			border-radius: 0 !important;
			border: none;
			box-shadow: none !important;
			box-sizing: border-box;
			height: 30px !important;
			line-height: 30px !important;
			padding: 0;
		}

		.chosen-drop {
			border-color: #2c2c2c;
			border-top: 1px solid #2c2c2c;
			margin-top: 0;
		}

		.chosen-search {
			height: 31px;
			margin: 0;
			padding: 0;

			input[type=text] {
				border: none;
				border-bottom: 1px solid #2c2c2c;
				height: 31px;
				padding: 0 10px;
				box-sizing: border-box;
			}
		}

		.chosen-results {
			padding: 0;
			margin: 0;
		}
	}

	.pew-range-fields {
		display: flex;
		justify-content: space-between;

		input {
			border-bottom: 2px solid $c_text;
			flex: none;
			height: 30px;
			outline: none !important;
			text-align: left;
			width: 100%;
		}

		.pew-range-from,
		.pew-range-to {
			width: 45%;
		}
	}

	.woof {
		background: linear-gradient(0deg, #fff, #fff), $c_content_bg;
		border-radius: 12px;
		box-shadow: 0 10px 15px rgba(#000, .15);
		padding: 25px 0;
		position: relative;

		.woof_container {
			border-right: 1px solid #7A7A7A;
			margin-bottom: 50px;
			padding: 0 15px;
			width: 25%;

			&:nth-child(4n+1) {
				border-right: none;
			}

			&:nth-child(n+5) {
				margin-bottom: 0;
			}

			h4 {
				color: #7F7F7F;
				font-weight: 500;
				margin-bottom: 10px;
			}

			ul {
				&.woof_list_checkbox {
					display: flex;
					flex-wrap: wrap;
				}
			}

			.woof_list {
				input {
					display: none;

					&:checked {
						+ label {
							background-color: $c_menu_bg;
							color: #fff;
						}
					}

					&:disabled {
						+ label {
							opacity: .5;
						}
					}
				}

				label {
					background: transparent;
					border-radius: 7px;
					box-sizing: border-box;
					height: 24px;
					line-height: 24px;
					min-width: 24px;
					padding: 0 5px;
					text-align: center;

					.woof_checkbox_count {
						display: none;
						margin-left: 0;
					}
				}

				li {
					margin: 0 !important;
					padding: 0 !important;

					&:first-child {
						label {
							margin-left: 0 !important;
						}
					}
				}
			}
		}
	}

	.woof_checkbox_label_selected {
		font-weight: 400;
	}

	.woof_container_pa_obshhaya-ploshhad {
		.woof_block_html_items {
			display: none !important;
		}
	}

	.woof_container_product_cat {
		flex: none;
		height: 40px;
		left: 0;
		position: absolute;
		top: -40px;
		width: 100% !important;

		.woof_list {
			&.woof_list_radio {
				display: flex;
			}

			input {
				&:checked {
					+ label {
						background: #fff !important;
						color: #515151 !important;
						opacity: 1;
					}
				}
			}

			li {
				height: 40px;

				label {
					border-radius: 8px 8px 0 0 !important;
					color: #fff;
					font-weight: 700;
					height: 40px !important;
					line-height: 40px !important;
					margin-left: 25px;
					opacity: .75;
					text-align: center;
					text-decoration: none;
					width: 150px;

					.woof_radio_count {
						display: none !important;
					}
				}
			}

			.woof_radio_term_reset_visible {
				display: none !important;
			}
		}
	}

	.woof_submit_search_form_container {
		border-radius: 4px;
		flex: none;
		justify-content: center;
		margin: 35px auto 0;
		text-align: center;
		width: 100%;

		button {
			background: transparent;
			border: 2px solid $c_text;
			font-size: 0;
			height: 40px;
			line-height: 36px;
			padding: 0;
			text-align: center;
			width: 160px;

			&::after {
				content: 'Сбросить фильтр';
				font-size: 14px;
			}

			&:hover {
				background-color: $c_text;
				color: #fff;
			}
		}
	}
}
