
.pew-filter-block {
	margin: -72px 0 0;
	position: relative;
	z-index: 2;

	.chosen-container {
		.chosen-results {
			li {
				background: transparent;
				color: $c_text;
				line-height: 30px;
				padding: 0 10px;

				&.active-result {
					&:hover,
					&.result-selected {
						background-color: $c_text;
						color: #fff;
					}
				}

				&.disabled-result {
					display: none;
					opacity: .5;
				}
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			background: none;
			border-radius: 0 !important;
			border: none;
			box-shadow: none !important;
			height: 30px !important;
			line-height: 30px !important;
			padding: 0;

			div {
				align-items: center;
				display: flex;
				justify-content: center;
				top: -2px;
				right: 11px;

				b {
					background-size: 12px!important;
					background: url(#{$icons}/dropdown.svg) no-repeat 0 0 scroll transparent!important;
					height: 7px;
					width: 12px;
				}
			}

			span {
				font-size: 14px;
				margin: 0;
			}
		}

		.chosen-drop {
			border-color: $c_text;
			border-top: 1px solid $c_text;
			margin-top: 0;
		}

		.chosen-search {
			height: 31px;
			margin: 0;
			padding: 0;

			input[type=text] {
				border: none;
				border-bottom: 1px solid $c_text;
				height: 31px;
				padding: 0 10px;
			}
		}

		.chosen-results {
			padding: 0;
			margin: 0;
		}
	}

	.pew-range-fields {
		display: flex;
		justify-content: space-between;

		input {
			border-bottom: 1px solid $c_text;
			height: 25px;
			outline: none;
			text-align: left;
			width: 100%;			@media #{$desktop_hd} {
				margin: 0 25px 0 0;
				max-width: 260px;
			}

			@media #{$mobile} {
				font-size: 16px;
			}
		}

		.pew-range-from,
		.pew-range-to {
			width: 45%;
		}
	}

	.woof {
		background: linear-gradient(0deg, #fff, #fff), $c_content_bg;
		border-radius: 12px;
		box-shadow: 0 10px 15px rgba(#000, .15);
		padding: 30px 0 30px 51px;
		position: relative;

		.woof_container {
			margin: 0 35px 0 0;
			max-width: 278px;
			padding: 0;
			position: relative;
			width: 100%;

			&::after {
				background-color: $c_text;
				content: "";
				height: 36px;
				position: absolute;
				right: 0;
				top: 6px;
				width: 1px;
			}

			&.woof_container_pa_kolichestvo-komnat {
				margin-right: 0;
				max-width: 258px;

				&::after {
					display: none;
				}

				li {
					&:first-child {
						.woof_checkbox_label {
							margin: 0 6px 0 0;
						}
					}
				}

				@media #{$desktop_hd} {
					margin-right: 50px;

					&::after {
						display: block;
					}
				}

				@media #{$mobile} {
					max-width: none;

					&::after {
						display: none;
					}
				}
			}

			&.woof_container_pa_material-doma {}

			&.woof_container_pa_obshhaya-ploshhad {
				padding: 0 24px 0 0;
				//max-width: 278px;

				.woof_block_html_items {
					display: none;
				}

				@media #{$mobile} {
					max-width: none;
				}
			}

			&.woof_container_pa_rajony {
				max-width: 284px;

				@media #{$mobile} {
					max-width: none;
				}
			}

			&.woof_container_pa_remont {
				padding: 0 30px 0 0;
				max-width: 176px;

				@media #{$mobile} {
					max-width: none;
				}
			}

			&.woof_container_pa_stancziya-metro {}

			&.woof_container_pa_tip-nedvizhimosti {}

			&.woof_container_product_cat {
				bottom: 100%;
				left: 0;
				max-width: none;
				padding: 0 15px;
				position: absolute;
				width: 100%;

				&::after {
					display: none;
				}

				.woof_list {
					&.woof_list_radio {
						display: flex;
						flex-wrap: wrap;
					}

					input {
						&:checked {
							+ label {
								background: #fff !important;
								color: #515151 !important;
								opacity: 1;
							}
						}
					}

					label {
						padding: 0 38px;

						@media #{$mobile} {
							padding: 0 10px;
						}
					}

					li {
						height: 40px;

						label {
							border-radius: 8px 8px 0 0;
							color: #fff;
							font-weight: 700;
							height: 40px;
							line-height: 40px;
							opacity: .75;
							text-align: center;
							text-decoration: none;
							white-space: nowrap;

							.woof_radio_count {
								display: none !important;
							}

							@media #{$mobile} {
								border-radius: 8px;
							}
						}
					}

					.woof_radio_term_reset_visible {
						display: none !important;
					}
				}

				@media #{$mobile} {
					margin: 0;
				}
			}

			&.woof_container_product_tag {
				margin-right: 0;
				max-width: 370px;

				&::after {
					display: none;
				}

				.woof_block_html_items {
					max-width: none;
				}

				.woof_checkbox_label {
					border: 1px solid $c_menu_bg;
					height: 28px;
					line-height: 1.2;
					padding: 2px 4px;
					min-width: 77px;
				}

				.woof_list {
					input {
						&:checked {
							+ label {
								font-weight: 400;
							}
						}
					}
				}

				@media #{$mobile} {
					max-width: none;
				}
			}

			h4 {
				color: $c_filter_title;
				font-size: 12px;
				font-weight: 500;
				margin: 0 0 4px;
			}

			ul {
				&.woof_list_checkbox {
					display: flex;
					flex-wrap: wrap;
				}
			}

			@media #{$desktop_hd} {
				margin: 0 25px 0 0;
				max-width: 260px;
			}

			@media #{$mobile} {
				margin: 0 0 24px;
				max-width: none;

				&::after {
					display: none;
				}
			}
		}

		@media #{$mobile} {
			padding: 20px;
		}
	}

	.woof_checkbox_label_selected {
		font-weight: 400;
	}

	.woof_list {
		input {
			display: none;

			&:checked {
				+ label {
					background-color: $c_menu_bg;
					color: #fff;
					font-weight: 700;
				}
			}

			&:disabled {
				+ label {
					display: none!important;
					opacity: .5;
				}
			}
		}

		label {
			align-items: center;
			background: transparent;
			border-radius: 7px;
			display: flex !important;
			height: 24px;
			justify-content: center;
			line-height: 1;
			margin: 0 7px 7px 0;
			min-width: 24px;
			padding: 0;

			.woof_checkbox_count {
				display: none;
				margin-left: 0;
			}
		}

		li {
			margin: 0 !important;
			padding: 0 !important;
		}

		.woof_term_20 {
			input {
				&:disabled {
					+ label {
						display: block!important;
						opacity: 1;
					}
				}
			}
		}
	}

	.woof_radio_label {
		margin: 0;
	}

	.woof_submit_search_form_container {
		border-radius: 4px;
		flex: none;
		justify-content: center;
		margin: 35px auto 0;
		text-align: center;
		width: 100%;

		button {
			background: transparent;
			border: 2px solid $c_text;
			font-size: 0;
			height: 40px;
			line-height: 36px;
			padding: 0;
			text-align: center;
			width: 160px;

			&::after {
				content: 'Сбросить фильтр';
				font-size: 14px;
			}

			&:hover {
				background-color: $c_text;
				color: #fff;
			}
		}
	}
}

.woof_container_pa_metro,
.woof_container_pa_rajon {
	.chosen-container {
		.chosen-drop {
			//@media #{$tablet} {
			@media #{$mobile} {
				bottom: 100%;
				top: auto;
			}
		}
	}
}
