
.product_attr {
	display: flex;
	flex-wrap: wrap;

	&__desc {
		font-weight: 700;
	}

	&__title {
		padding: 0 10px 0 0;
		text-align: right;
		width: 200px;
	}
}

.product_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0 15px;

	&__img {
		cursor: pointer;
		display: block;
		transition: $transition;

		&:hover {
			box-shadow: 0 15px 25px rgba(#000, .25);
			opacity: .7;
		}
	}

	&__item {
		max-width: 334px;
		padding: 12px;
		width: 100%;
	}

	@media #{$desktop_hd} {
		justify-content: center;
		padding: 15px 0;
	}
}

.product_slider {
	height: 100%;

	.splide {
		height: 100%;

		&__arrow {
			background: none;
			border-radius: 0;
			height: 100%;
			width: 600px;

			&::after,
			&::before {
				content: "";
				position: absolute;
				top: 48%;
			}

			&::after {
				background-color: $c_main;
				height: 2px;
				margin: 4px 0 0;
				width: 500px;
			}

			&::before {
				border-left: 2px solid $c_main;
				border-top: 2px solid $c_main;
				height: 20px;
				margin: -4px 0 0;
				width: 20px;
			}

			svg {
				display: none;
			}

			&--next {
				left: 50%;
				margin: 0 0 0 600px;
				right: auto;

				&::after {
					left: 41px;
				}

				&::before {
					left: 7px;
					transform: rotate(135deg);
				}
			}

			&--prev {
				left: auto;
				margin: 0 600px 0 0;
				right: 50%;

				&::after {
					right: 41px;
				}

				&::before {
					right: 7px;
					transform: rotate(-45deg);
				}
			}

			@media #{$desktop_hd} {
				width: 60px;

				&::after {
					display: none;
				}

				&--next {
					margin: 0;
				}

				&--prev {
					margin: 0;
				}
			}

			@media #{$mobile} {
				&--next {
					&::before {
						left: 50%;
						margin-left: -15px;
					}
				}

				&--prev {
					&::before {
						margin-right: -12px;
						right: 50%;
					}
				}
			}
		}

		&__arrows {
			@media #{$desktop_hd} {
				bottom: 34px;
				height: 50px;
				position: absolute;
				right: 30px;
				width: 120px;
				z-index: 7;
			}

			@media #{$mobile} {
				bottom: -30px;
				right: 0;
			}
		}

		&__list {
			align-items: center;
		}

		&__pagination {
			bottom: -30px;
			justify-content: center;
			left: 50%;
			max-width: 1238px;
			transform: translateX(-50%);
			width: 100%;

			li {
				align-items: flex-end;
				display: flex;
				height: 28px;
			}

			&__page {
				background: none;
				border-radius: 0;
				height: 16px;
				margin: 0;
				position: relative;
				width: 9px;

				&::after {
					background-color: $c_main;
					bottom: 0;
					content: "";
					height: 13px;
					left: 50%;
					position: absolute;
					transition: $transition;
					width: 2px;
				}

				&:hover,
				&.is-active {
					background: none;
					transform: none;

					&::after {
						height: 28px;
					}
				}
			}

			@media #{$tablet} {
				padding: 0 20px;
			}

			@media #{$mobile} {
				padding: 0 15px;
			}
		}

		&__slide {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
		}

		&__track {
			height: 100%;
		}
	}
}
