
.product_address {
	color: #fff;
	font-size: 16px;

	span {
		background: url(#{$icons}/map.svg) left top no-repeat scroll transparent;
		display: inline-block;
		min-height: 26px;
		padding: 4px 0 30px 40px;
		position: relative;
		text-align: left;
	}

	@media #{$tablet} {
		padding: 0 15px;
		text-align: center;
	}
}

.product_apt_info {
	max-width: 880px;
	padding: 0 0 0 28px;
	width: 100%;

	@media #{$tablet} {
		padding: 0 20px;
	}
}

.product_attribute {
	&__pa_adres {
		font-size: 10px;
		margin: .5em 0;
		opacity: .5;
	}

	&__pa_tip-nedvizhimosti {}
}

.product_attributes {
	color: $c_text;

	li {
		display: block;

		&.product_attribute__pa_tip-nedvizhimosti {
			display: none;
		}
	}

	&__item {}
}

.product_cat {
	&__title {
		color: $c_text;
		font-family: $font_montserrat;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.product_desc {
	font-size: 12px;
	line-height: 1.7;
	max-width: 740px;
	padding: 36px 0 30px;

	p {
		margin: 0 0 2.4em;
	}
}

.product_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px;

	&__img {
		cursor: pointer;
		display: block;
		height: 100%!important;
		object-fit: cover;
		transition: $transition;
		width: 100%;

		&:hover {
			box-shadow: 0 15px 25px rgba(#000, .25);
			opacity: .7;
		}
	}

	&__item {
		height: 261px;
		max-width: 334px;
		padding: 12px;
		width: 100%;
	}

	&__link {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.product_info {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;

	&--start {
		align-items: flex-start;
	}

	&__class {
		padding: 0 0 0 30px;
	}

	&__item {
		color: $c_text;
		display: flex;
		flex-direction: column;
		margin: 0 30px 0 0;
		min-height: 50px;
		padding: 0 37px 0 0;
		position: relative;

		&--cols {
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;

			.product_info__value {
				margin: 0 15px 0 0;

				@media #{$tablet} {
					margin-right: 8px;
				}
			}
		}

		&--full-width-mobile {
			@media #{$tablet} {
				margin-right: 0;
				padding-right: 0;
				width: 100%;

				&::after {
					display: none;
				}
			}
		}

		&--start {
			align-items: flex-start;
		}

		&::after {
			background-color: $c_text;
			content: "";
			height: 63px;
			opacity: .5;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;

			@media #{$tablet} {
				height: 48px;
			}
		}

		&:last-child {
			margin-right: 0;
			padding-right: 0;

			&::after {
				display: none;
			}
		}

		@media #{$tablet} {
			margin: 0 17px 30px 0;
			padding: 0 17px 0 0;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 1.2;
		opacity: .5;
		padding: 0 0 10px;
		text-transform: uppercase;

		&--short {
			max-width: 130px;
		}

		&:last-child {
			padding: 0;
		}

		@media #{$tablet} {
			font-size: 11px;
		}
	}

	&__value {
		font-size: 20px;
		font-weight: 600;

		&--bold {
			font-size: 36px;
			font-weight: 700;

			@media #{$tablet} {
				font-size: 14px;
				font-weight: 600;
			}
		}

		&--xl {
			font-size: 64px;
			font-weight: 300;

			@media #{$tablet} {
				font-size: 40px!important;
			}
		}

		small {
			text-transform: lowercase;
		}

		@media #{$tablet} {
			font-size: 14px;
		}
	}
}

.product_info_floor {
	&__from {
		color: $c_main;
		font-size: 24px;
		font-weight: 400;

		@media #{$tablet} {
			font-size: 16px;
		}
	}
}

.product_info_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 0;

	@media #{$desktop} {
		align-items: center;
		flex-direction: column;
	}
}

.product_link {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 2px 2px rgba(#000, .15);
	display: block;
	min-height: 340px;
	position: relative;
	transition: $transition;
	width: 100%;

	&:hover {
		opacity: .7;
	}

	&__content {
		background-color: #fff;
		bottom: 0;
		padding: 20px 20px 40px;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 3;
	}
}

.product_map {
	height: 340px;
	width: 100%;
}

.product_realtor {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 14px 0 0;
	text-align: center;

	&__img {
		border: 4px solid #fff;
		border-radius: 50%;
		height: 126px !important;
		margin: 20px 0 0;
		object-fit: cover;
		overflow: hidden;
		width: 126px;
	}

	&__name {
		font-size: 24px;
		font-weight: 600;
		margin: -4px 0 0;
	}

	&__object_id {}

	&__phone {
		border: 1px solid $c_main;
		color: $c_text;
		margin: 25px 0 0;
		max-width: 210px;
		padding: 12px;
		position: relative;
		text-decoration: none;
		transition: $transition;
		width: 100%;

		&:hover {
			background-color: $c_main;
		}
	}

	&__presentation {
		color: $c_text;
		display: block;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: .03em;
		margin: 68px 0 0;
		min-height: 35px;
		padding: 3px 0 0;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: $transition;

		&:hover {
			opacity: .7;

			&::after {
				height: 5px;
			}
		}

		&::after {
			background-color: $c_main;
			bottom: 3px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			transition: $transition;
			width: 100%;
		}

		&::before {
			background: url(#{$icons}/download.svg) 0 0 no-repeat scroll transparent;
			content: "";
			height: 35px;
			left: -46px;
			position: absolute;
			top: 0;
			width: 27px;
		}

		@media #{$mobile} {
			margin-left: 30px;
		}
	}

	@media #{$desktop} {
		padding: 100px 0 30px;
	}
}

.product_slider {
	height: 100%;

	&__img {
		display: block;
		height: 100%;
		object-fit: contain;
		width: 100%;
	}

	.splide {
		height: 100%;

		&__arrow {
			background-color: #000;
			border-radius: 0;
			height: 56px;
			opacity: 1;
			width: 56px;

			&::after,
			&::before {
				content: "";
				position: absolute;
				top: 48%;
				transition: $transition;
			}

			&::after {
				background-color: $c_main;
				height: 2px;
				margin: 0;
				width: 0;
			}

			&::before {
				border-left: 2px solid $c_main;
				border-top: 2px solid $c_main;
				height: 20px;
				margin: -9px 0 0;
				width: 20px;
			}

			&:hover {
				&::after {
					width: 200px;
				}
			}

			svg {
				display: none;
			}

			&--next {
				left: auto;
				right: -20px;

				&::after {
					left: 46px;
				}

				&::before {
					left: 14px;
					transform: rotate(135deg);
				}
			}

			&--prev {
				left: -20px;
				right: auto;

				&::after {
					right: 46px;
				}

				&::before {
					right: 14px;
					transform: rotate(-45deg);
				}
			}

			@media #{$desktop_hd} {
				width: 60px;

				&::after {
					display: none;
				}

				&--next {
					margin: 0;
				}

				&--prev {
					margin: 0;
				}
			}

			@media #{$mobile} {
				&--next {
					&::before {
						left: 50%;
						margin-left: -15px;
					}
				}

				&--prev {
					&::before {
						margin-right: -12px;
						right: 50%;
					}
				}
			}
		}

		&__arrows {
			@media #{$desktop_hd} {
				bottom: 34px;
				height: 50px;
				position: absolute;
				right: 30px;
				width: 120px;
				z-index: 7;
			}

			@media #{$mobile} {
				bottom: -30px;
				right: 0;
			}
		}

		&__list {
			align-items: center;
		}

		&__pagination {
			bottom: -30px;
			display: none;
			justify-content: center;
			left: 50%;
			max-width: 1238px;
			transform: translateX(-50%);
			width: 100%;

			li {
				align-items: flex-end;
				display: flex;
				height: 28px;
			}

			&__page {
				background: none;
				border-radius: 0;
				height: 16px;
				margin: 0;
				position: relative;
				width: 9px;

				&::after {
					background-color: $c_main;
					bottom: 0;
					content: "";
					height: 13px;
					left: 50%;
					position: absolute;
					transition: $transition;
					width: 2px;
				}

				&:hover,
				&.is-active {
					background: none;
					transform: none;

					&::after {
						height: 28px;
					}
				}
			}

			@media #{$tablet} {
				padding: 0 20px;
			}

			@media #{$mobile} {
				padding: 0 15px;
			}
		}

		&__slide {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			width: 100%;
		}

		&__track {
			height: 100%;
		}
	}
}
