@keyframes dots {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 1.5);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

.welcome {
	align-items: center;
	background-color: #313131;
	display: flex;
	flex-direction: column;
	font-size: 50px;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999999;

	&__bg {
		background: url(#{$i}/welcome/bg.png) 0 0 repeat scroll transparent;
		display: none;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: all 2s ease-in-out;
		width: 100%;
		z-index: 5;
	}

	&__content {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	.logo {
		height: 51px;
		left: 64px;
		margin: 0;
		opacity: 0;
		position: absolute;
		top: 55px;
		transition: all 2s ease-in-out;
		transition-delay: 2.5s;
		width: 143px;
	}
}

// animation | step 1
.welcome_active {
	overflow: hidden;

	// animation | step 2
	&.welcome_part_2 {
		.welcome {
			.logo {
				opacity: 0;
				transition-delay: 0s;
			}
		}

		.welcome_animation {
			&__1 {
				left: -50%;
				opacity: .5;
				top: -50%;
				transform: rotate(-45deg);
				transition-delay: 1.5s;
			}

			&__2 {
				opacity: .3;
				bottom: 100%;
				right: 0;
				transition-delay: 1.5s;
			}

			&__3 {
				bottom: -100%;
				opacity: .5;
				right: 0;
				transition-delay: 1.5s;
				z-index: 3;
			}

			&__4 {
				left: -30%;
				top: 0;
				transform: rotate(90deg);
				transition-delay: 1.5s;
			}
		}

		.welcome_copyright {
			bottom: -100px;
			transition-delay: .5s;
		}

		.welcome_slogan {
			&::after {
				opacity: 0;
				transition-delay: 0s;
			}

			&__row {
				clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
				transition-delay: .3s;
			}
		}

		.welcome_slogan_en {
			&::after {
				opacity: 0;
				transition-delay: .6s;
			}

			&__row {
				clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
				transition-delay: .9s;
			}
		}
	}

	.welcome {
		&__bg {
			opacity: .55;
		}

		.logo {
			opacity: 1;
		}
	}

	.welcome_animation {
		&__1 {
			left: 0;
			opacity: 1;
			top: 0;
			transform: rotate(0);
		}

		&__2 {
			bottom: 0;
			opacity: 1;
		}

		&__3 {
			bottom: 0;
			opacity: 1;
		}

		&__4 {
			left: 0;
			opacity: 1;
			transform: rotate(0);
		}
	}

	.welcome_copyright {
		bottom: 74px;
		opacity: 1;
	}

	.welcome_preload {
		display: none;
	}

	.welcome_slogan {
		&::after {
			opacity: 1;
		}

		&__row {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	.welcome_slogan_en {
		&::after {
			opacity: 1;
		}

		&__row {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}
}

.welcome_animation {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	transition: all 2s ease-in-out;
	width: 50%;
	z-index: 1;

	img {
		display: block;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__1 {
		height: 50%;
		left: -50%;
		opacity: .5;
		top: -50%;
		transform-origin: right top;
		transform: rotate(-45deg);
		z-index: 3;
	}

	&__2 {
		opacity: .3;
		bottom: 100%;
		height: 50%;
		right: 0;
	}

	&__3 {
		bottom: -100%;
		height: 100%;
		opacity: .5;
		right: 0;
		transition-delay: .5s;
		z-index: 3;
	}

	&__4 {
		height: 100%;
		left: -30%;
		top: 0;
		transform: rotate(90deg);
		transform-origin: left top;
		transition-delay: .5s;
	}
}

.welcome_copyright {
	bottom: -100px;
	left: 50%;
	line-height: 1.2;
	opacity: 0;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	transition: bottom 1s ease-in-out;
	transition-delay: 4s;

	.copyright {
		font-size: 10px;
		font-weight: 500;
	}
}

.welcome_preload {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999;

	span {
		animation: 1s dots infinite;
		background-color: $c_main;
		border-radius: 50%;
		display: inline-block;
		height: 10px;
		margin: 0 10px;
		width: 10px;

		&:nth-child(2) {
			animation-delay: .3s;
		}

		&:nth-child(3) {
			animation-delay: .6s;
		}
	}
}

.welcome_slogan {
	color: #fff;
	font-size: 64px;
	font-weight: 700;
	letter-spacing: -.04em;
	margin: 110px 0 0;
	max-width: 1200px;
	padding: 0 40px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&::after {
		border-right: 10px solid $c_main;
		border-top: 10px solid $c_main;
		content: "";
		height: 74px;
		opacity: 0;
		position: absolute;
		right: 4px;
		top: -27px;
		transition-delay: 2.5s;
		transition: all 1s ease-in-out;
		width: 68px;
	}

	&__row {
		clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
		text-align: center;
		transition: all 1s ease-in-out;
		transition-delay: 3s;
	}

	@media #{$desktop} {
		font-size: 40px;
		max-width: 820px;
	}

	@media #{$tablet} {
		font-size: 30px;
		max-width: 620px;
	}
}

.welcome_slogan_en {
	color: $c_main;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -.04em;
	line-height: 1;
	margin: 55px 0 0 77px;
	max-width: 635px;
	position: relative;
	text-align: right;

	&::after {
		border-bottom: 10px solid $c_main;
		border-left: 10px solid $c_main;
		bottom: -35px;
		content: "";
		height: 74px;
		left: -51px;
		opacity: 0;
		position: absolute;
		transition: all 1s ease-in-out;
		transition-delay: 3.5s;
		width: 68px;
	}

	&__row {
		clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
		transition: all 1s ease-in-out;
		transition-delay: 4s;
	}

	@media #{$desktop} {
		font-size: 30px;
	}

	@media #{$tablet} {
		font-size: 20px;
	}
}