
.woocommerce {
	ul {
		&.products {
			li {
				&.product {
					a {
						img {
							display: none;
						}
					}

					.button {
						display: none;
					}

					.price {
						bottom: 22px;
						color: $c_menu_bg;
						font-size: 20px;
						font-weight: 700;
						left: 20px;
						margin: 0;
						position: absolute;

						.woocommerce-Price-currencySymbol {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

.woocommerce-loop-product {
	&__title {
		color: $c_text;
		font-family: $font_main;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.woocommerce-ordering {
	display: none;
}

.woocommerce-products-header {
	&__title {
		display: none;
	}
}

.woocommerce-result-count {
	display: none;
}
