
.woocommerce {
	ul {
		&.products {
			padding: 0 0 30px;

			li {
				&.product {
					a {
						img {
							display: none;
						}
					}

					.button {
						display: none;
					}

					.price {
						bottom: 22px;
						color: $c_menu_bg;
						font-size: 20px;
						font-weight: 700;
						left: 20px;
						margin: 0;
						position: absolute;

						.woocommerce-Price-currencySymbol {
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	nav {
		&.woocommerce-pagination {
			padding: 32px 0;

			ul {
				border: 0 none;
				display: flex;
				justify-content: center;
				margin: 0;

				li {
					border: 0 none;
					display: flex;
					float: none;

					a {
						display: block;
						font-size: 0;
						height: 100%;
						min-width: 2px;
						padding: 0 4px;
						position: relative;

						&:hover {
							background: none;
						}

						&::after {
							background-color: $c_main;
							bottom: 0;
							content: "";
							height: 13px;
							left: 50%;
							margin: 0 0 0 -1px;
							position: absolute;
							width: 2px;
						}

						&.page-numbers {
							&.next,
							&.prev {
								display: none;
							}
						}
					}

					span {
						color: $c_main;
						display: block;
						font-size: 14px;
						min-width: 8px;
						padding: 0 0 35px;
						position: relative;

						&.current {
							background: none;
							color: $c_main;
						}

						&::after {
							background-color: $c_main;
							bottom: 0;
							content: "";
							height: 28px;
							left: 50%;
							margin: 0 0 0 -1px;
							position: absolute;
							width: 2px;
						}
					}
				}
			}
		}
	}

	.woocommerce-breadcrumb {
		font-size: 12px;
		margin: 0 auto;
		max-width: 1373px;
		padding: 30px;
		width: 100%;
	}
}

.woocommerce-info {
	background-color: #fff;
	border: 0 none;
	font-size: 20px;
	font-weight: 600;
	margin: 0 auto;
	max-width: 1373px;
	min-height: 80px;
	padding: 15px 30px 100px 120px;
	width: 100%;

	&::before {
		background: url(#{$icons}/search_error.svg) 0 0 no-repeat scroll transparent;
		background-size: cover;
		content: "";
		height: 60px;
		left: 30px;
		top: 0;
		width: 60px;
	}
}

.woocommerce-loop-product {
	&__title {
		color: $c_text;
		font-family: $font_main;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.woocommerce-ordering {
	display: none;
}

.woocommerce-products-header {
	&__title {
		display: none;
	}
}

.woocommerce-result-count {
	display: none;
}
