
.woocommerce {
	ul {
		&.products {
			li {
				&.product {
					a {
						img {
							display: none;
						}
					}

					.button {
						display: none;
					}

					.price {
						bottom: 22px;
						color: $c_menu_bg;
						font-size: 20px;
						font-weight: 700;
						left: 20px;
						margin: 0;
						position: absolute;

						.woocommerce-Price-currencySymbol {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

.woocommerce-loop-product {
	&__title {
		color: $c_text;
		font-family: $font_main;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.woocommerce-ordering {
	display: none;
}

.woocommerce-page {
	margin: 0 auto;
	max-width: 1373px;
	padding: 0 30px;
	width: 100%;

	ul {
		&.products {
			column-gap: 24px;
			display: grid;
			grid-template-columns: auto auto auto auto;
			row-gap: 24px;

			li {
				&.product {
					margin: 0;
					width: 100%;

					&:first-child {
						grid-column-end: 3;
						grid-column-start: 1;

						.price {
							font-size: 24px;
							left: 37px;
						}

						.product_attribute {
							&__pa_adres {
								background: url(#{$icons}/map.svg) no-repeat left top scroll transparent;
								font-size: 12px;
								min-height: 26px;
								opacity: 1;
								padding: 0 0 0 30px;
							}

							&__pa_tip-nedvizhimosti {
								margin: 0 0 25px;
								opacity: .3;
								text-transform: uppercase;
							}
						}

						.product_cat {
							&__title {
								font-size: 20px;
							}
						}

						.product_link {
							&__content {
								bottom: 13px;
								max-width: 292px;
								padding: 16px 10px 50px 37px;
								position: absolute;
								right: 19px;
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce-products-header {
	&__title {
		display: none;
	}
}

.woocommerce-result-count {
	display: none;
}
