
.woof_block_html_items {
	//max-width: 242px;

	@media #{$mobile} {
		//max-width: 300px;
	}
}

.woof_container_pa_kolichestvo-komnat {
	.woof_block_html_items {
		max-width: none;
	}
}

.woof_container_pa_obshhaya-ploshhad {
	h4 {
		display: inline-block;
		position: relative;

		&::after {
			content: "2";
			font-size: 10px;
			position: absolute;
			right: -6px;
			top: 0;
		}
	}
}

.woof_more {
	display: none;
	text-align: center;

	span {
		cursor: pointer;
		position: relative;
		transition: $transition;

		&:hover {
			opacity: .7;
		}

		&::after,
		&::before {
			background-color: $c_main;
			content: "";
			height: 2px;
			position: absolute;
			top: 8px;
			width: 12px;
		}

		&::after {
			left: -24px;
			transform: rotate(45deg);
		}

		&::before {
			left: -32px;
			transform: rotate(-45deg);
		}

		&.woof_more__show {
			&::after {
				left: -32px;
			}

			&::before {
				left: -24px;
			}
		}
	}

	&__active {
		.woof_more {
			&__hide {
				display: inline-block;
			}

			&__show {
				display: none;
			}
		}

		.woof_redraw_zone {
			@media #{$desktop} {
				height: auto;
				overflow: auto;
			}
		}
	}

	&__hide {
		display: none;
	}

	&__show {
		&::after {
			left: -32px;
		}

		&::before {
			left: -24px;
		}
	}

	@media #{$desktop} {
		display: block;
	}
}

.woof_products_top_panel {
	display: none !important;
	z-index: 4;

	li {
		a {
			display: block;
			min-height: 30px;
		}

		span {
			background: none;
			margin: 0 4px 0 0;
			padding: 0 24px 0 0;
			position: relative;

			&::after,
			&::before {
				background-color: $c_main;
				content: "";
				height: 1px;
				position: absolute;
				right: 0;
				top: 9px;
				width: 22px;
			}

			&::after {
				transform: rotate(45deg);
			}

			&::before {
				transform: rotate(-45deg);
			}
		}
	}
}

.woof_redraw_zone {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	@media #{$desktop} {
		height: 0;
		overflow: hidden;
	}
}

.woof_search_is_going {
	nav {
		&.woocommerce-breadcrumb {
			display: block;

			@media #{$tablet} {
				display: none;
			}
		}
	}
}

.woof_shortcode_output {
	background-color: $c_content_bg;
	margin: 0 auto;
	max-width: 1373px;
	padding: 30px 30px 0;
	width: 100%;

	ul {
		&.products {
			column-gap: 24px;
			display: grid;
			grid-template-columns: auto auto auto auto;
			margin: 0;
			row-gap: 24px;

			li {
				&.product {
					margin: 0 !important;
					width: 100% !important;

					&:first-child {
						grid-column-end: 3;
						grid-column-start: 1;

						.price {
							font-size: 24px;
							left: 37px;
						}

						.product_attribute {
							&__pa_adres {
								background: url(#{$icons}/map.svg) no-repeat left top scroll transparent;
								font-size: 12px;
								min-height: 26px;
								opacity: 1;
								padding: 0 0 0 30px;
							}

							&__pa_tip-nedvizhimosti {
								margin: 0 0 25px;
								opacity: .3;
								text-transform: uppercase;
							}
						}

						.product_cat {
							&__title {
								font-size: 20px;
							}
						}

						.product_link {
							&__content {
								bottom: 13px;
								max-width: 292px;
								padding: 16px 10px 50px 37px;
								position: absolute;
								right: 19px;
								width: auto;
							}
						}

						@media #{$mobile} {
							grid-column-end: 1;
							grid-column-start: 1;

							.price {
								bottom: 22px;
								color: $c_menu_bg;
								font-size: 20px;
								font-weight: 700;
								left: 20px;
								margin: 0;
								position: absolute;
							}

							.product_attribute {
								&__pa_adres {
									background: none;
									min-height: 0;
									padding: 0;
									font-size: 10px;
									margin: .5em 0;
									opacity: .5;
								}

								&__pa_tip-nedvizhimosti {
									display: none;
								}
							}

							.product_cat {
								&__title {
									font-size: 20px;
								}
							}

							.product_link {
								&__content {
									bottom: 0;
									max-width: none;
									padding: 20px 20px 40px;
									position: absolute;
									right: 0;
									width: 100%;
								}
							}
						}
					}
				}
			}

			@media #{$desktop} {
				grid-template-columns: auto auto auto;
			}

			@media #{$tablet} {
				grid-template-columns: auto auto;
			}

			@media #{$mobile} {
				grid-template-columns: auto;
			}
		}
	}

	.btn-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		.dropdown-toggle {
			display: none;
		}

		@media #{$tablet} {
			justify-content: center;
		}
	}

	.order_filtr {
		flex-wrap: wrap;
		white-space: nowrap;

		li {
			border-radius: 7px;
			padding: 4px 6px;

			a {
				text-decoration: underline;
			}

			&.active {
				background-color: $c_menu_bg;
				color: #fff;
				text-decoration: none;

				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}

		@media #{$tablet} {
			justify-content: center;
			padding: 0 20px;
		}
	}

	@media #{$mobile} {
		padding: 30px 0 0;
	}
}

.woof_submit_search_form_container {
	display: none;
}
