
.woof_block_html_items {
	max-width: 242px;
}

.woof_container_pa_kolichestvo-komnat {
	.woof_block_html_items {
		max-width: none;
	}
}

.woof_container_pa_obshhaya-ploshhad {
	h4 {
		display: inline-block;
		position: relative;

		&::after {
			content: "2";
			font-size: 10px;
			position: absolute;
			right: -6px;
			top: 0;
		}
	}
}

.woof_products_top_panel {
	z-index: 4;

	li {
		a {
			display: block;
			min-height: 30px;
		}

		span {
			background: none;
			margin: 0 4px 0 0;
			padding: 0 24px 0 0;
			position: relative;

			&::after,
			&::before {
				background-color: $c_main;
				content: "";
				height: 1px;
				position: absolute;
				right: 0;
				top: 9px;
				width: 22px;
			}

			&::after {
				transform: rotate(45deg);
			}

			&::before {
				transform: rotate(-45deg);
			}
		}
	}
}

.woof_redraw_zone {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.woof_submit_search_form_container {
	display: none;
}
