
.woof_block_html_items {
	max-width: 242px;

	@media #{$mobile} {
		max-width: 300px;
	}
}

.woof_container_pa_kolichestvo-komnat {
	.woof_block_html_items {
		max-width: none;
	}
}

.woof_container_pa_obshhaya-ploshhad {
	h4 {
		display: inline-block;
		position: relative;

		&::after {
			content: "2";
			font-size: 10px;
			position: absolute;
			right: -6px;
			top: 0;
		}
	}
}

.woof_more {
	display: none;
	text-align: center;

	span {
		cursor: pointer;
		position: relative;
		transition: $transition;

		&:hover {
			opacity: .7;
		}

		&::after,
		&::before {
			background-color: $c_main;
			content: "";
			height: 2px;
			position: absolute;
			top: 8px;
			width: 12px;
		}

		&::after {
			left: -24px;
			transform: rotate(45deg);
		}

		&::before {
			left: -32px;
			transform: rotate(-45deg);
		}

		&.woof_more__show {
			&::after {
				left: -32px;
			}

			&::before {
				left: -24px;
			}
		}
	}

	&__active {
		.woof_more {
			&__hide {
				display: inline-block;
			}

			&__show {
				display: none;
			}
		}

		.woof_redraw_zone {
			@media #{$desktop} {
				height: auto;
				overflow: auto;
			}
		}
	}

	&__hide {
		display: none;
	}

	&__show {
		&::after {
			left: -32px;
		}

		&::before {
			left: -24px;
		}
	}

	@media #{$desktop} {
		display: block;
	}
}

.woof_products_top_panel {
	display: none !important;
	z-index: 4;

	li {
		a {
			display: block;
			min-height: 30px;
		}

		span {
			background: none;
			margin: 0 4px 0 0;
			padding: 0 24px 0 0;
			position: relative;

			&::after,
			&::before {
				background-color: $c_main;
				content: "";
				height: 1px;
				position: absolute;
				right: 0;
				top: 9px;
				width: 22px;
			}

			&::after {
				transform: rotate(45deg);
			}

			&::before {
				transform: rotate(-45deg);
			}
		}
	}
}

.woof_redraw_zone {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	@media #{$desktop} {
		height: 0;
		overflow: hidden;
	}
}

.woof_submit_search_form_container {
	display: none;
}
